.imageHeader {
  position: relative;
  margin: auto;
  width: 80%;
  top: 0;
}

.images {
  padding-bottom: 4rem;
}

.headerTitle {
  display: block;
  text-align: center;
  font-size: 35px;
  position: absolute;
  font-weight: 400;
  top: 50%;
  width: 100%;
  color: white;
}

.titleSpan {
  background-color: black;
  opacity: 0.7;
  padding: 1rem;
  font-weight: bold;
}

.projectSection {
  margin: auto;
  width: 80%;
}

.projectHead {
  font-size: 22px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.imageDiv {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto;
  padding-top: 2rem;
}

.img {
  position: relative;
}

.img p {
  position: absolute;
  top: 0;
  color: white;
  background-color: black;
  margin: 0;
  padding: 5px;
}
